<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="LOGS" source="logging.path" defaultValue="logs"/>
    <appender name="jsonConsole" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="jsonConsole"/>
    </root>
</configuration>
